[SddmGreeterTheme]
Name=hollow_knight
Description=hollow_knight
Author=skignes
Website=https://github.com/skignes/Dotfiles
License=GPL-3.0-or-later
Type=sddm-theme
Version=1.0
ConfigFile=Themes/hollow_knight.conf
MainScript=Main.qml
TranslationsDirectory=translations
Theme-Id=hollow_knight
Theme-API=1.0
QtVersion=6
